@font-face {
  font-family: font1;
  src: url("./Montserrat/Montserrat-Black.ttf");
}
.fnt {
  font-family: font1;
  display: block;
  border: solid red;
  border-right: 70px;
  padding: 55px;
  /* margin: 55px; */
}
.fnt:hover {
  background-color: red;
  color: rgb(55, 0, 255);
}
